@charset "uft-8";
@media (max-width:1024px) {
    header-inner {
        height:20px;
    }
    .title-logo {
        font-size:10px;
        padding-left: 0;
            
    }
    .drawer-list {
        margin-right:  0;
    }
    .drawer-list li {
        font-size:10px;
        padding:2px;
        margin-right: 0;
    }
    .about {
        display:block;
    }
    
    .about-text {
        width:100%;
        text-align: center;
    }
    .profile-image img {
        width:50%;
    }
    .skills-contents ul li {
        max-width:100%;
        padding-right:50px;
    }
    .skills-contents ul {
        text-align: center;
    }
}
